*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #ddd;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
img{border-radius:50%;width:80px;}
li{list-style: none}
a{color: #000;text-decoration: none;}
nav{
  width: 95%;
  height: 50px;
  background-color: #282c3441;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 0 0 30px 0;
  font-size: 15pt;
  box-shadow: 4px 4px 10px 2px #333;

}
@media only screen and (max-width: 600px){
  nav{
    font-size: 12pt;
    justify-content: space-around;
  }
}
nav > *{
  display:flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  height: 100%;
  justify-content: space-around;
}
nav ul li{
  transition: color 0.1s ease;
}
nav ul li:hover{
  color: #01546b;
}
/* nav ul{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
} */
nav ul{width: 60%;}



nav div{width: 30%;}
nav div span:first-child{
  display: flex;
  align-items: center;
}
/* end navbar 
   start login form */

div.login{
  width: 400px;
  height: 500px;
  text-align: center;
  margin: 9px auto;
  background-color: #00b7e9;
  border-radius: 7px;
  box-shadow: 4px 4px 10px 2px #333;
}
.login h3{
  text-align: center;
  margin-bottom: 50px;
  height: 50px;
  line-height: 50px;
  background-color: rgba(0, 0, 0, 0.172);
  font-family: cursive;
}

.login div img{
  width: 400px;
  margin-bottom: 15px;
}
.login div{
  margin-bottom: 50px;
}
.login select{
  width: 85%;
  height: 40px;
  font-size: 12pt;
  color: #333;
  border-radius: 3px;
  outline: none;
  border:none;
}
.login button{
  width: 85%;
  padding: 7px 0;
  display: block;
  margin: 60px auto;
  border: none;
  border-radius: 4px;
  font-size: 17pt;
  color: #eee;
  background-color: #01546b;
  cursor: pointer;
  box-shadow: 2px 2px 1px 2px rgb(51, 51, 51);
}
.login button:active{
  box-shadow: none;
}

/* end login 
   start home */

.home{
  margin: 50px auto;
  width: 400px;
  background-color: #ccc;
}
.home div:first-child{
  height: 70px;

}
.home div:first-child span{
  width: 50%;
  line-height: 50px;
  cursor: pointer;
}
.home div:first-child span.active{
  background-color: #ccc;
}

/* end home
   start card */
.card h2{
  width: 100%;
}
.card > div{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.card div div{
  width: 50%;
  display: flex;
  flex-direction: column;
}
/* end min-pull
   start pull */

.pull{
  width: 400px;
  height: 150px;
  margin: 50px auto;
}
.pull > div{
  display: flex;
}
/* end pull
   start new */

.new{
  width: 400px;
  height: 350px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 50px auto;
  background-color: #ccc;
}
.new > *{
  width: 90%;
  height: 35px;
}
.new hr{
  height: 0;
}
/* end new 
  start leader-board */

.leader-card{
  width: 400px;
  height: 200px;
  background-color: #ccc;
  margin: 50px auto;
  border-radius: 40px 5px 5px 5px;
}

/* my bootstrap */

.btn{
  display: inline-block;
  width: 150px;
  height: 50px;
  background-color: #ddd;
}
.card{
  width: 100%;
  min-height: 130px;
  background-color: #ccc;
  text-align: center;
}

.marked{
  color: red;
}

/* defaults */

img{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}